extends layout/layout.pug

mixin formInput(labelName, type, id)
    label(for=id) #{labelName}
    input(type=type name=id id=id)

block stylesheet
    link(rel="stylesheet" href="css/home.css")

block content
    h1 Ajouter un élève
    if changes
        p.toaster Nouveau élève ajouté.
    form(method="post")
        div.formInputArea
            +formInput("Nom", "text", "name")
            +formInput("Date", "date", "date")
        input(type="submit")
